Flask==3.0.3
Werkzeug==3.0.3
gunicorn==22.0.0
torch==2.3.1
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
pypdf==4.3.1
reportlab==4.2.2
pillow==10.4.0
faiss-cpu==1.8.0.post1
transformers==4.44.2
sentence-transformers==3.0.1
sentencepiece==0.2.0
langchain==0.2.12
langchain-community==0.2.11
langchain-text-splitters==0.2.2
mistralai==1.2.2
phidata==2.7.6